/* Change order of context entries */

#bookmark-menu-container_robwu_nl-menuitem-_bookmark-menu-item { -moz-box-ordinal-group: 0  !important;}


#jid1-kdtticj6wxvafa_jetpack-menuitem-_sss{ -moz-box-ordinal-group: 0  !important;}


#context-openlinkintab:not([hidden]),
#context-openlinkintab:not([hidden])~#_36bde3a5-9f17-4ad9-a587-d4a3c8e8d200_-menuitem-_background-tab_link{ -moz-box-ordinal-group: 0 }
#_36bde3a5-9f17-4ad9-a587-d4a3c8e8d200_-menuitem-_background-tab_link > label{ display: none }
#_36bde3a5-9f17-4ad9-a587-d4a3c8e8d200_-menuitem-_background-tab_link::before{
  content: "Open Link in New Background Tab";
  display: -moz-box;
  -moz-appearance: menuitemtext
}


/* Remove these Context Menu Entries */

#_a0d7ccb3-214d-498b-b4aa-0e8fda9a7bf7_-menuitem-_WotContextMenu, /* WOT link */
#context_sendTabToDevice,
#context-sep-sendTabToDevice,
#context-sendpagetodevice,
#context-sep-sendpagetodevice,
#context-sendlinktodevice,
#context-sep-sendlinktodevice,
#context-navigation,
#context-sep-sendlinktodevice,
#context-navigation,
#context-sendimage,
#inspect-separator,
#context-inspect,
#context-setDesktopBackground,
#context-inspect-a11y
 {
 display: none !important;
}

/*
#context_reloadTab,
#context_toggleMuteTab,
#context_pinTab,
#context_unpinTab,
#context_bookmarkTab,
#context_reopenInContainer,
#context_moveTabOptions,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_undoCloseTab,
#context_closeTab,
#context_pinSelectedTabs,
#context_unpinSelectedTabs,
#context_selectAllTabs,
#context_bookmarkSelectedTabs,
#context_closeSelectedTabs
*/