/* tooltips */
#tabbrowser-tab-tooltip,
#btTooltip,
#un-toolbar-tooltip,
#tooltip,
.tooltip,
#aHTMLTooltip,
#urlTooltip,
tooltip {
	-moz-appearance: none !important;
	background-color: #111 !important;
	color: #bbb !important;
	border: 1px solid #ddd !important;
	padding: 3px 5px 5px 5px  !important;
	border-radius: 6px !important;
	margin-left: 30px !important;
	font-size: 10pt !important;
	font-family: Serif !important;
	box-shadow: none !important;
}
