
/* rounded top corners on tabs */
.tab-background {
	border-radius: 8px 8px 0 0 !important;
	position: relative !important;
	border: 0 !important;
}

.tabbrowser-tab .tab-loading-burst {
	border-radius: 8px 8px 0 0 !important;
}
