/******* button icon colors ******/

#reload-button,
#reload-button .toolbarbutton-animatable-image {
  fill: lime !important;
 }
#stop-button,
#stop-button .toolbarbutton-animatable-image,
#stop-reload-button[animate] > #reload-button[displaystop] + #stop-button > .toolbarbutton-animatable-box > .toolbarbutton-animatable-image{
  fill: red !important;
}

/* red */
#containers-panelmenu,
#pocket-button:not([open]),
#PanelUI-quit:not(:hover),
#web-apps-button,
#e10s-button,
#panic-button,
#cut-button,
#zoom-out-button {
  fill: red !important;
}

 /*ROYAL BLUE*/
#save-page-button ,
#back-button,
#forward-button,
#new-window-button,
#new-tab-button,
.scrollbutton-up,
.scrollbutton-down,
#navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) .tabbrowser-arrowscrollbox > .scrollbutton-up,
#navigator-toolbox #TabsToolbar:not(:-moz-lwtheme) .tabbrowser-arrowscrollbox > .scrollbutton-down,
.search-go-button,
#downloads-button,
#downloads-button[indicator="true"]:not([attention="success"]) #downloads-indicator-icon,
#zoom-in-button,
#copy-button,
#find-button,
#sidebar-button,
#fullscreen-button,
#PanelUI-customize,
#password-notification-icon,
#PanelUI-fxa-status,
#sync-button,
#tabview-button,
#social-share-button{
  fill: #4169e1 !important;
}

/*green*/
#search-go-button,
.search-go-button,
#urlbar-go-button,
.urlbar-go-button,
#paste-button,
#email-link-button {
  fill: green !important;
}

/*orange*/
#PanelUI-menu-button,
#open-file-button,
#home-button,
#feed-button{
  fill: orange !important;
}

 /*PURPLE*/
 #history-button,
#history-panelmenu,
#library-button,
#privatebrowsing-button,
#print-button{
  fill: #800080 !important;
}

 /*AZURE*/
#webide-button,
#nav-bar-overflow-button,
#bookmarks-menu-button,
#bookmarks-button,
#bookmarks-menu-button > .toolbarbutton-menubutton-dropmarker > .dropmarker-icon{
  fill: #336699 !important;
}

/* gray*/
#developer-button,
#characterencoding-button {
  fill: gray !important;
}

#preferences-button {
  fill: #e0850f !important;
}

#add-ons-button {
  fill: #05b405 !important;
}