/* replace generic icon color in tabs and bookmarks */

/* bookmark toolbar */
#PlacesToolbarItems>.bookmark-item:not([container])>.toolbarbutton-icon[label]:not([label=""]) {
     fill: violet !important;
}    
/* bookmark folder */
.bookmark-item.menuitem-with-favicon:not([container]) {
    fill: darkviolet !important;
}
/* tab icon */
.tab-content image.tab-icon-image:not([container]) {
    fill: limegreen !important;
}
