/* replace generic icon color in tabs and bookmarks */

/* generic tab icon must be first of the three */
.tab-content image.tab-icon-image:not([container]) {
    fill: violet !important;
}

/* addon button on tab */
.tab-content image.tab-icon-image[src="chrome://mozapps/skin/extensions/extension.svg"]{
  fill: #05b405 !important;
}

/* preferences button on tab */
.tab-content image.tab-icon-image[src="chrome://global/skin/icons/settings.svg"]{
  fill: #e0850f !important;
}




/* bookmark toolbar */
#PlacesToolbarItems>.bookmark-item:not([container])>.toolbarbutton-icon[label]:not([label=""]) {
     fill: violet !important;
}    
/* bookmark folder */
.bookmark-item.menuitem-with-favicon:not([container]) {
    fill: violet !important;
}


/* adds glow to icons */
.bookmark-item.menuitem-with-favicon:not([container]) image {
	filter: drop-shadow(0px 0px .5px white) !important;
}

#PlacesToolbarItems>.bookmark-item:not([container])>.toolbarbutton-icon[label]:not([label=""]) {
     	filter: drop-shadow(0px 0px .5px white) !important;
} 

#bookmarks-view treechildren::-moz-tree-image(container),
#PlacesToolbarItems toolbarbutton[container="true"],
#PlacesToolbarItems menu[container="true"] .menu-iconic-left,
#BMB_bookmarksPopup menu[container="true"] .menu-iconic-icon,
#bookmarksMenu menu[container="true"] .menu-iconic-icon,
.bookmark-item.menuitem-with-favicon[container]{
	filter: drop-shadow(0px 0px .5px white) !important;
}
