/* Hide bookmarks bar */
#nav-bar { z-index: 1 !important;}

#PersonalToolbar {
   margin-top: -23px !important;
   transition: all 0.4s ease 0s !important;}

#navigator-toolbox:hover>#PersonalToolbar {
   margin-top: 0px !important;
   transition: all 0.4s ease 0s !important; }
   
/* bookmarkbar to fade-out if you don't focus on it.*/

 #PlacesToolbarItems{
    opacity: 0.0;
    transition-delay: 0s; 
    transition-duration: .5s;
}
#PlacesToolbarItems:hover{
    transition-delay: 0s;
    opacity: 1;
}
/* makes boomkarks invisible until hover */

#PersonalToolbar:not(:hover) {
    transition-delay: 0s;
    opacity: 0;
}