/*TOOLBAR BUTTONS */

/*Manage Your Addos Button changes it to green */
#add-ons-button > .toolbarbutton-icon { fill: green !important; }

/*Changes the More Tools/Overflow Button I icon */
#nav-bar-overflow-button > .toolbarbutton-icon { list-style-image: url("./image/overflow.png") !important;}

/*Changes the Open Menu Button I icon */
#PanelUI-menu-button {list-style-image: url("./image/open_menu.png") !important;}

/*END TOOLBAR BUTTONS */



/* ADDON BUTTONS */

/*Overlay Revmoval Auto */
#_c86567ab-c9be-4823-a1ea-af0f62f9fd49_-browser-action .toolbarbutton-icon {
  list-style-image: url("./image/behind_overlay_removal_auto.png") !important;
}

/*Behind The Overlay Revival */
#_c0e1baea-b4cb-4b62-97f0-278392ff8c37_-browser-action .toolbarbutton-icon {
  list-style-image: url("./image/behind_overlay_revival.png") !important;
}

/*Block Site */
#_54e2eb33-18eb-46ad-a4e4-1329c29f6e17_-browser-action .toolbarbutton-icon {
  list-style-image: url("./image/block_site.png") !important;
}

/*Clear Browsing Data */
#_ce9f4b1f-24b8-4e9a-9051-b9e472b1b2f2_-browser-action .toolbarbutton-icon {
  list-style-image: url("./image/eraser1.png") !important;
}

/* CCS Exfil Protection */
#_7fc8ef53-24ec-4205-87a4-1e745953bb0d_-browser-action .toolbarbutton-icon {
  list-style-image: url("./image/css_exfil_protection.png") !important;
}


/* END ADDON BUTTONS */



/* ADDON BADGES */

/* uBlock Origin */
#ublock0_raymondhill_net-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* CCS Exfil Protection */
#_7fc8ef53-24ec-4205-87a4-1e745953bb0d_-browser-action label {
color: white !important;
/* background-color: indigo !important; */
background-color: yellow !important;
color: black !important;
opacity: 1 !important;
} 

/* Noscript */
#_73a6fe31-595d-460b-a920-fcc0f8843232_-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* Privacy Badger */
#jid1-mnnxcxisbpnsxq_jetpack-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* Cookie Autodelete */
#cookieautodelete_kennydo_com-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* Violentmonkey */
#_aecec67f-0d10-4fa7-b7c7-609a2db280cf_-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/*Zoompage WE */
#zoompage-we_dw-dev-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* Canvasblocker */
#canvasblocker_kkapsner_de-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* ClearUrls */
#_74145f27-f039-47ce-a470-a662b129930a_-browser-action  label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* Neat URLs */
#neaturl_hugsmile_eu-browser-action label {
color: white !important;
background-color: indigo !important;
opacity: 1 !important;
}

/* END ADDON BADGES */

