/* !!extensionOptionsMenu.uc CSS to change colors of addon state */

#eom-button-popup  {
	color: #64ae64 !important
}

/*
#eom-button-popup menuitem.menuitem-iconic.restartless {
	color: #64ae64 !important
}

#eom-button-popup menuitem.menuitem-iconic.restartless.disabled.noOptions {
	color: darkkhaki !important;
	font-style: italic !important;
}

#eom-button-popup menuitem.menuitem-iconic.restartless.noOptions {
	color: salmon !important
}

#eom-button-popup menuitem.menuitem-iconic.restartless:hover:not([selected]) {
	color: white !important;
}
