/*Location Bar Drop Down list */
#urlbar-results {
        background: #111 !important;
        color: #bbb  !important;
}

/* Constrains urlbar popup to urlbar width */
/* Firefox 70+ */

#urlbar-container{
	transform: translateY(0);
	position: relative;
	z-index: 10;
	padding-block: 3px !important;
  padding-inline: 0px !important;
  margin-inline: 5px !important;
}
#nav-bar-customization-target{ overflow: visible !important }
#urlbar-results{ max-width: 100% !important; }
.urlbarView{
  top: calc(100% - 5px) !important;
  width: 100%;
  border-width: 1px 1px 1px 1px !important;;
  border-style: solid;
  border-color: orange !important;
   /* border-color: inherit !important; */ 
}
:root[uidensity="compact"] .urlbarView { margin-top: 2px }
:root[uidensity="touch"] .urlbarView { margin-top: 1px }
#urlbar[open]{ border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important; }
.urlbarView-row{ padding: 6px 0px !important; }

/* Selected Text */ 
 ::-moz-selection {
    background: #b54fc9 !important;
    color: #FFFFFF !important;
}
::selection {
    background: #b54fc9 !important;
    color: #FFFFFF !important;
}

  .autocomplete-richlistitem[selected=true],
  .urlbarView-row[selected] {
  background-color: #b54fc9 !important;
  color: #FFFFFF !important;  
}



