/* remove background color */
#urlbar .urlbar-page-action,
#urlbar #star-button-animatable-box,
#urlbar #pageAction-panel-bookmark,
#urlbar #star-button,
#urlbar #star-button-animatable-box,
#urlbar .urlbar-icon,
#searchbar .search-go-button {
  background: unset !important;
  box-shadow: unset !important;
}

/* colorize location bar icons (except star button) */
#urlbar :is(#reader-mode-button,#pageActionButton, #pageAction-urlbar-emailLink,#pageAction-urlbar-sendToDevice,#pageAction-urlbar-screenshots,#pageAction-urlbar-copyURL),
#urlbar .urlbar-history-dropmarker {
  fill: white !important;
}
#urlbar :is(#reader-mode-button,#pageActionButton, #pageAction-urlbar-emailLink,#pageAction-urlbar-sendToDevice,#pageAction-urlbar-screenshots,#pageAction-urlbar-copyURL):is(:hover,:hover:active,[open]),
#urlbar .urlbar-history-dropmarker:is(:hover,:hover:active,[open]) {
  fill: white !important;
}

/* increase brightness for search bars go button */
#searchbar .search-go-button:is(:hover,:hover:active,[open])  {
  filter: brightness(1.5) !important;
}

/* change opacity for WE page action buttons */
#urlbar #page-action-buttons > .urlbar-icon {
  opacity: 1.0 !important;
}
#urlbar #page-action-buttons > .urlbar-icon:is(:hover,:hover:active,[open]){
  opacity: 0.6 !important;
}

/* colorize star button icon 
#urlbar #pageAction-panel-bookmark:not([starred]),
#urlbar #star-button:not([starred]) {
  fill: orange !important;
  opacity: 1.0 !important;
}
#urlbar #star-button-box[open] #star-button,
#urlbar #star-button:is(:hover,:hover:active),
#urlbar #star-button-animatable-box:is(:hover,:hover:active) {
  filter: brightness(1.5) !important;
}
#urlbar #pageAction-panel-bookmark:not([starred]):is(:hover,:hover:active,[open]),
#urlbar #star-button-box[open] #star-button:not([starred]),
#urlbar #star-button:not([starred]):is(:hover,:hover:active) {
  filter: brightness(1.25) !important;
}*/

