#identity-popup-mainView-panel-header,
#identity-popup-security > vbox,
#identity-popup-clear-sitedata-button,
#identity-popup-permissions-content {
	background-color: #333 !important
}

#identity-popup-security-expander {
	background-color: #333 !important;
	color: white !important;
}