#urlbar-container #urlbar-zoom-button{
  color:white !important;
    font-size: 7pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 4px black !important;
  font-weight: bold !important;
  -moz-box-ordinal-group: 100 !important;  
}

/* make dropmarker always hidden */
#urlbar .autocomplete-history-dropmarker,
#urlbar .urlbar-history-dropmarker,
#urlbar:not(:hover) > .urlbar-textbox-container > .urlbar-history-dropmarker {
  visibility: hidden !important;
}
