/* remove blue focus ring */
:root{ --toolbar-field-focus-border-color: transparent !important; }

/* that stupid 1px line below navbar */
#navigator-toolbox {border-bottom: transparent !important;}
#nav-bar {border-bottom: transparent !important;}

/* location bar height */
#urlbar {
height: 28px !important;
margin-top: 1px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

/* identity box */
#identity-box {
  padding-inline-start: 4px !important;
}

/* search box */
#main-window[uidensity="compact"] .searchbar-search-icon {
  margin-inline-start: 4px !important;
  margin-inline-end: 4px !important;
}

/* adjust addon icons for compact mode */
#main-window[uidensity="compact"] .urlbar-icon {
  width: 18px !important;
  height: 18px !important;
  padding: 0px !important;
}

