/* The SEPARATE searchbar settings */

/* dropdown searchbar panel */
.search-panel-current-engine {
  background-color: #333 !important;
}

.searchbar-engine-name,
.search-panel-one-offs-header.search-panel-header {
  color: white !important;
  padding: 3px 0px 3px 0px !important;
}

.autocomplete-richlistitem,
#searchbar-anon-search-settings {
  background-color: #333 !important;
  color: white !important;
  padding: 3px 0px 3px 0px !important;
}

#searchbar-anon-search-settings:hover {
  background-color: #777 !important;
}  

.searchbar-separator,
.search-go-container,
.search-panel-header + .searchbar-separator { 
  display: none
}

/* searchbar background */
.searchbar-search-button {
  border: none !important;
  background-color: #111 !important;
  opacity: 1 !important;
}

#search-container{
  border: none !important;
  max-width: 280px !important;
}

#searchbar .textbox-input::placeholder {
  opacity: 1 !important;
  text-align: center !important; 
}

#searchbar,
.searchbar-textbox {
  border: none !important;
  background-color: #9C04D1 !important;
  border-radius: 1px 10px / 12px !important;
  transition: all 0.9s ease !important;
  opacity: 0.4;
  }
 
#searchbar[selected],
#searchbar:hover:not([selected]),
.searchbar-textbox[selected],
.searchbar-textbox:hover:not([selected]) {
  color: #000 !important;
  opacity: .8 !important;
  font-weight: bold !important;
}
