/* Link colors on all sites, except those specified */

/* @-moz-document regexp("https?://(?!(addons.mozilla.org|www.reddit.com)).*") {
a:link { color: SaddleBrown !important; }
a:visited { color: Red !important; }
a:hover { color: Crimson !important; }
a:active { color: DarkGoldenrod !important; }
} */


/* Link colors on all sites */


@-moz-document url-prefix("http://"), url-prefix("https://") {
 /* a:link { color: Blue !important; } */
a:visited { color: Red !important; }
a:hover { color: Magenta !important; }
/* a:active { color: LimeGreen !important; } */
}


/* Link colors on specific sites */

@-moz-document domain("google.com") {
a:visited { color: Red !important; }
a:hover { color: Magenta !important; }
}

@-moz-document domain(duckduckgo.com) {
a:link {font-weight: bold !important; }
a:visited { color: Red !important; }
a:hover { color: Magenta !important; }
a:active { color: LimeGreen !important; }
}

@-moz-document domain("greasyfork.org") {
 a:visited { color: Red !important; }
 a:hover { color: Green !important; }
 }

@-moz-document domain("youtube.com") {
 a:link { color: Gold  !important; }
 a:visited { color: Red !important; }
 a:hover { color: LimeGreen !important; }
 }

@-moz-document domain("reddit.com") {
 /* a:link { color: DarkCyan   !important; } */
 a:visited { color: Red !important; }
 a:hover { color: Magenta !important; }
 }
  
@-moz-document domain("old.reddit.com")  {
/*  a:link { color: DarkCyan   !important; } */
 a:visited { color: Red !important; }
 a:hover { color: Magenta !important; }
 }
 
 
/**/
