/* webextension Clear Browsing Data */
@-moz-document url-prefix("moz-extension://ed9070fc-eb6c-458e-bf08-d878e6bd2a66/")  {

.list,
.list-item {
  color: #ddd !important;
  background-color: #111 !important;
}

.mdc-list-item:hover {
   color: #fff !important;
  background-color: #777 !important;
}

.mdc-list-item:focus,
.mdc-list-item--selected,
.mdc-list-item--activated {
   color: #fff !important;
  background-color: #9C04D1 !important;
}

}


