/*! Alters the webextension Cookie AutoDelete */
@-moz-document url-prefix("moz-extension://4f8c3497-6786-4579-8f01-d6e3633af692/") {
  a {
    color: var(--accent-1)
  }
  a:hover {
    color: var(--accent-2)
  }
  #layout,
  html {
    background: #323234!important;
    color: var(--primary-light-color)!important
  }
  #menu {
    background-color: #323234!important
  }
  .menu-link {
    background: #323234!important
  }

  .pure-menu-item:hover,
  .pure-menu-selected {
    background-color: #323234!important;
  }
  .form-control,
  input[type=number] {
    -moz-appearance: none!important;
    background: #323234!important;
    color: var(--tone-4)!important;
    border-color: var(--tone-5)!important
  }
  .nav-tabs .nav-link {
    color: var(--tone-4)!important
  }
  .nav-tabs .nav-link.active {
    color: var(--accent-1)!important;
    background-color: #323234!important;
    border-color: #ddd #ddd #fff!important
  }
  body {
    color: #bbb !important;
    background-color: #323234!important
  }
  .btn-light {
    color: var(--tone-4)!important;
    background-color: #323234!important;
    border-color: var(--tone-4)!important
  }
  
 .table {
    color: #ddd!important;
    background-color: #666!important;
    border-color: var(--tone-4)!important
  } 
 
}
