/* webextension Decentraleyes */
@-moz-document url-prefix("moz-extension://fb09b367-64c7-4630-a3c1-bc8919b21b44/") {
  body {
    background-color: #111 !important;
    color: #ddd !important
  }
  .panel:not(:last-child),
  header {
    border-color: var(--tone-5) !important
  }
  .button {
    background-color: #111 !important;
    border-color: var(--tone-5) !important
  }
  .button:hover {
    background-color: #111 !important
  }
}