@-moz-document url-prefix("http://www.google."), url-prefix("https://www.google.") { /* img#hplogo.lnXdpd */
div.om7nvf { padding: 110px !important }
  
  img#hplogo, img.lnXdpd {
    background: url("./../../css/content/_GoogleMartha_3.png") no-repeat!important;
    background-size: 450px 179px!important;
    height: 0!important;
    width: 450px!important;
	padding-top:179px !important;
  }
  
  #hplogo, .lnXdpd {
    background: url("./../../css/content/_GoogleMartha_3.png") no-repeat !important;
    background-size: 450px 179px!important;	
    width: 450px !important;
    height: 179px !important;
	padding-top:179px !important;
  }

  div#hplogo, div.lnXdpd {
    background: url("./../../css/content/_GoogleMartha_3.png") no-repeat!important;
    background-size: 450px 179px!important;
    height: 179px!important;
    width: 450px!important;
	padding-top:179px !important;
  }

.FPdoLc, 
.szppmdbYutt__middle-slot-promo, 
#gws-output-pages-elements-homepage_additional_languages__als  {
	display: none !important;
}


  
  
  
  
  

 }

/*
@-moz-document regexp("https?://www.google.(co.uk)).*")

div#hplogo:not([title~=Google]),
div.lnXdpd:not([title~=Google]) {margin-top: 0px!important;}

div#hplogo:not([nowrap='']) ,
div.lnXdpd>:not([nowrap='']) {display: none!important;}

*/