/*------ HTTPS EVERYWHERE ADDON ------*/
@-moz-document url-prefix("moz-extension://ef9a24e2-cc10-417a-b5e4-dedb917c97c1/") {
html, body {background: #111 !important; color: #ddd !important}

h1, h2, h3 {color: #ddd !important}

label {color: #ccc !important}

button, input[type="button"] {  
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background-color: #555 !important;
  color: #ddd !important;
  border: none !important;
  padding: 5px !important;
  margin: 3px !important}

button:hover, input[type="button"]:hover {  
  background-color: #222 !important;
  color: #ddd !important;
  box-shadow: none !important}

a:link, a {color: #09f !important}
a:visited {color: #0070aa !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

input[type="text"]{
	-moz-appearance: none !important;
	background-color: #444 !important; 
	border: 1px solid #666 !important;
	color: #fff !important;
	margin: 3px !important}

input[type="text"]:focus{border: 1px solid #0a84ff !important}

input[type="text"][disabled] {color: #aaa !important}
}