/*------ NOSCRIPT ADDON SETTINGS AND PROMPT PAGE ------*/
@-moz-document url-prefix(moz-extension://471b71dc-a127-4db0-9363-4756f40f1727/ui/options.html),
url-prefix(moz-extension://471b71dc-a127-4db0-9363-4756f40f1727/ui/prompt.html),
url-prefix(moz-extension://471b71dc-a127-4db0-9363-4756f40f1727/ui/siteInfo.html) {
body, html {background: #111 !important}

#main {background: linear-gradient(#555,#111) !important; color: #fff !important}

#message {color: #fff !important}

h1 {color: #fff !important}
span {color: #ddd !important}

.flextabs__content, .flextabs__toggle[aria-expanded="true"] {
	background: #444 !important;
	color: #ddd !important}

.flextabs__toggle[aria-expanded="false"] {
	background: #404040 !important;
	color: #aaa !important}

button:not(.flextabs__toggle) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #666 !important;
  color: #ddd !important;
  border: none !important}

button:not(.flextabs__toggle):hover {
  background: #333 !important;
  color: #fff !important}

.buttons button {padding: 5px !important; margin-right: 5px !important}

#button0, #button1 {padding: 5px !important}

.buttons button:hover {background: #444 !important}

.presets, .url, .customizer-controls {color: #000 !important}

#presets {filter: brightness(80%) !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

.customizer fieldset label {color: #000 !important}

#newsite {
	-moz-appearance: none !important; 
	background: #323232 !important; 
	color: #ddd !important;
	border: 1px solid #666 !important}

#sites .sites tr {background: #555 !important}

#sites .sites tr:nth-child(even) {background: #666 !important}
}

/*------ NOSCRIPT ADDON POPUP ------*/
@-moz-document url-prefix(moz-extension://471b71dc-a127-4db0-9363-4756f40f1727/ui/popup.html) {
body, html, #main {background: #111 !important; color: #ddd !important}

#top {border-bottom: 1px solid #555 !important}

button {background-color: transparent !important}

tr {color: #ddd !important}

#sites .sites tr {background: #111 !important}

span {color: #ddd !important}

#sites .sites tr:nth-child(odd) {background: #333 !important}
}