/* webextension Theme Toggler */
@-moz-document url-prefix("moz-extension://74146e44-2a67-44ca-9a33-bcaf5343fd5e/")  {
html, body {
  background: #222 !important; 
  color: #888 !important
  background: var(--in-content-box-background) !important;
}
