  /*------ UBLOCK ORIGIN BLOCKING PAGE ------*/
@-moz-document url-prefix(moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/document-blocked.html){

html, body {background-color: #222 !important}

body {margin-top: 10em}

p, span {color: #ccc !important}

.fa {color: #fa0 !important}

a:link {color: #0084ff !important}
a:hover {color: #0ff !important}
a:active {color: #0050aa !important}

button {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #333 !important;
  color: #ddd !important;
  border: none !important}

button:hover {
  background: #111 !important;
  color: #ddd !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL TOP BUTTONS ------*/
@-moz-document url-prefix(moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/dashboard.html) {

#dashboard-nav-widgets {background: #222 !important; border-bottom: 1px solid black !important}

#dashboard-nav-widgets span {color: #ccc !important}

a {
	background-color: #444 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

a.tabButton.selected {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN CONTROL PANEL CONTENT PAGES ------*/
@-moz-document url-prefix(moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/){
body, html {
	background: #333 !important;
	color: #ccc !important;
}

a:not(.tabButton):link {color: #09f !important}
a:not(.tabButton):visited {color: #0070aa !important}
a:not(.tabButton):hover {color: #0ff !important}
a:not(.tabButton):active {color: #0050aa !important}

a.fa.info, a.fa.mustread, a.fa.support, 
.fa.status.cache, .fa.status.updating {color: #bbb !important}

button:not(.whatisthis):not(#buttonUpdate) {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #555 !important;
  color: #ddd !important;
  border: none !important}

button:not(.whatisthis):not(#buttonUpdate):hover {
  background: #111 !important;
  color: #ddd !important}

button.whatisthis {filter: brightness(200%) !important}

button[disabled] {opacity: 0.5 !important}

#buttonUpdate, button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

#buttonUpdate:hover, button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.cm-search-widget, .CodeMirror-gutters, 
.CodeMirror-merge-gap {background: #222 !important; border: none !important}

.cm-search-widget {border-bottom: 1px solid #000 !important;}

.CodeMirror, .CodeMirror-merge, .cm-search-widget input {
	-moz-appearance: none !important;
	background: #999 !important; 
	color: #000 !important; 
	border: none !important}

.CodeMirror-line 

.cm-comment {color: #000 !important;
	  font-weight: bold !important}
.cm-staticnetBlock {color: #bd0205 !important}

a.fa.info.important {color: #fa0 !important}

.fa.status.unsecure, a.fa.remove {color: #f33 !important}

textarea, .whatisthis-expanded {
	-moz-appearance: none !important; 
	background-color: #222 !important; 
	color: #aaa !important;
	border: 2px solid #000 !important}


code {background-color: #222 !important}

.rulesContainer li:nth-child(odd) {background-color: #222 !important}
.rulesContainer li:nth-child(even) {background-color: #444 !important}

input[type=number] {
	-moz-appearance: none !important;
	background: #222 !important;
	border: 1px solid #000 !important;
	color: #ccc !important}
}

/*------ UBLOCK ORIGIN MENU POPUP ------*/
@-moz-document url-prefix(moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/popup.html) {
body {background: #222 !important}

#appinfo {background: #111 !important}

#refresh, #saveRules, #revertRules {background-color: #222 !important; border: 1px solid #000 !important}

/* Basic menu */
.tooltipContainer, #panes {background-color: #333 !important}

.tool.enabled:hover {color: #fff !important}

p {color: #ccc !important}
.statValue {color: #888 !important}

h2 {
	background-color: #222 !important; 
	color: #ddd !important}

div:not(.tooltipContainer):not(#panes):not(#rulesetTools):not(#refresh) {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) !important}

span[data-i18n-tip="popupTipRevertRules"], span[data-i18n-tip="popupTipSaveRules"] {
	background: #222 !important;
	border: 1px solid black !important}

span[data-src="/"], span[data-src="."] {
	border-left: 1px solid #000 !important}

#extraTools, #tooltip {
	background: #ddd !important;
	color: #ccc !important}

#extraTools span:hover {color: #888 !important}

/* Advanced menu */
#firewallContainer span {
	border-bottom: 1px solid #000 !important;
	color: #ccc !important}

#firewallContainer span:hover {background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)) !important}

#firewallContainer span span, #firewallContainer span span:hover  {
	background-image: none !important;
	border-bottom: 1px solid transparent !important}
}

/*------ UBLOCK ORIGIN UI LOGGER ------*/
@-moz-document url-prefix(moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/logger-ui.html) {

body, .permatoolbar, .vscrollable, table, html {background: #222 !important}

.button, input, textarea, .preview span {
	-moz-appearance: none !important;
	background: #444 !important;
	border: 1px solid #000 !important}

#info .fa-icon_info-circle, #settings .fa-icon_cog, 
#loggerExport .fa-icon_clipboard {fill: #000 !important}

#info:hover .fa-icon_info-circle, #settings:hover .fa-icon_cog, 
#loggerExport:hover .fa-icon_clipboard {fill: #ddd !important}

#modalOverlayClose, .tools .fa-icon {background: transparent !important; fill: #ddd !important}
#modalOverlayClose svg {stroke: #ddd !important}

#vwRenderer .logEntry > div > span, #filterExprPicker > div, 
#netFilteringDialog > .panes > .details > div, .panes .details span, 
.panes .entry, .action, .dynamic .toolbar span {border-color: #000 !important}

.logEntry, #netFilteringDialog > .panes > .details > div, .panes .entry {background: rgba(255,255,255,0.1) !important}

.logEntry:hover, .panes .entry.row:hover {background: rgba(255,255,255,0.2) !important}

#loggerExportDialog .options span[data-i18n] {border-color: #888 !important}
#loggerExportDialog .options span[data-i18n]:hover, .tools .fa-icon:hover {background-color: #666 !important}

#filterExprPicker span[data-filtex]:not(.on):hover {
	background-color: #666 !important; 
	border-color: #888 !important}

#loggerExportDialog .options span.on[data-i18n], #filterExprPicker .on {background-color: #888 !important}

input, .logEntry, #modalOverlayContainer, textarea, #filterExprPicker {color: #ddd !important}

#modalOverlayContainer {background-color: #333 !important}

#netInspector div#popupContainer {
	background: #333 !important; 
	border: 1px solid #111 !important}

#popupContainer > div {background: #555 !important}

.toolbar td, #filterExprPicker {
	border: none !important;
	background: #444 !important}

.headers {border-bottom: 1px solid #000 !important}

.toolbar span#saveRules {	
	background-color: #444 !important; 
	border: 1px solid #000 !important;
	color: #eee !important}

.toolbar span#saveRules:hover {	
	background-color: #222 !important;
	color: #fff !important}

button.important {
  -moz-appearance: none !important;
  border-radius: 3px !important;
  background: #ffbb33 !important;
  color: #000 !important;
  border: none !important}

button.important:hover {
  background: #cc8800 !important;
  color: #ddd !important}

.action .noop:hover, .action.noop.own {background: #ddd !important}

.header.dynamic, .header.static, .header.details {
	background-color: #222 !important; 
	color: #777 !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

#netFilteringDialog[data-pane="dynamic"] .header.dynamic, 
#netFilteringDialog[data-pane="static"] .header.static, 
#netFilteringDialog[data-pane="details"] .header.details {
	background-color: #333 !important; 
	color: #ccc !important;
	border: 1px solid black !important;
	border-bottom: 1px solid transparent !important}

#modalOverlayContainer a:link {color: #0084ff !important}
#modalOverlayContainer a:hover {color: #0ff !important}
#modalOverlayContainer a:active {color: #0050aa !important}

.button.disabled {opacity: 0.5 !important}

#domTree, #domTree ul {background: #222 !important}

#domTree .isCosmeticHide, #domTree .isCosmeticHide li {background: rgba(255, 150, 150, 0.2) !important}
}
