/* UBLOCK ORIGIN */

@-moz-document url-prefix("moz-extension://6774f60d-32ac-45ba-810e-901e6b707bd3/") {
    body,
    #sticky,
    #main {
        /* font-family: Fira Sans !important; */
        background-color: #333 !important;
        color: #ddd !important;
    }

    hr {
        display: none !important;
    }

    a {
        color: #888 !important;
    }

    .fa-icon {
        background-color: #333 !important;
        fill: #aaa !important;
        color: white !important;
    }

    h2 {
        background-color: #333 !important;
        color: #ddd !important;
    }

    code {
        background-color: #555 !important;
    }

    #switch .fa-icon {
        fill: #1e90ff !important;
    }

    #switch .fa {
        fill: #1e90ff !important;
    }

    html#ublock0-epicker,
    #ublock0-epicker body {
        background: transparent !important;
        color: white !important;
    }

    #ublock0-epicker aside {
        background-color: #000 !important;
    }

    body.off #switch .fa {
        color: #555 !important;
    }

    .tool {
        color: #ddd !important;
    }

    .tool.enabled:hover {
        fill: #9C04D1 !important;
    }

    .permatoolbar {
        background-color: #333 !important;
    }

    .permatoolbar .button {
        background-color: #333 !important;
    }

    .permatoolbar .button:hover {
        background-color: #888 !important;
    }

    #tooltip {
        background-color: #000000 !important;
        border: 1px solid #000000 !important;
        color: #ddd !important;
    }

    #firewall>div {
        background-color: #333 !important;
    }

    #firewall>div:hover {
        background-color: #333 !important;
    }

    #firewall>div>span {
		color: #333 !important;
		border-bottom: 1px solid #111 !important;
		/* font-size: 10pt !important; */
		/* background-color: #777 !important; */ /* CAN'T see firewall selections */
    }

    #firewall>div>span:first-of-type~span {
        border-left: 1px solid #111 !important;
    }

    #extraTools {
        background-color: #333 !important;
    }

    #extraTools>span:hover {
        fill: #1e90ff !important;
    }

    #dashboard-nav {
        background-color: #111 !important;
        border-bottom: 1px solid #777 !important;
    }

    #dashboard-nav-widgets {
        background-color: #111 !important;
        border-bottom: 1px solid #777 !important;
    }

    .tabButton {
        background-color: #333 !important;
        border: 1px solid #666 !important;
        border-bottom: 1px solid #777 !important;
        color: #ddd !important;
    }

    .tabButton.selected {
        background-color: #9C04D1 !important;
        color: white !important;
        border-bottom: 1px solid #222 !important;
    }

    #diff li {
        background-color: #555 !important;
    }

    #diff li:nth-child(even) {
        background-color: #333 !important;
    }

    #diff textarea {
        background-color: #333 !important;
        color: #ffff !important;
    }

    hr {
        display: none !important;
    }

    .fieldset-header {
        color: var(--nords-0) !important;
    }

    #loggerSettingsDialog,
    #modalOverlayContainer,
    #netFilteringDialog,
    #netFilteringDialog>.panes>.details>div,
    #netFilteringDialog>div.panes>.dynamic .row {
        background-color: #333 !important;
    }

    #domTree {
        color: white !important;
    }

    #ruleFilter input,
    input[type=number] {
        -moz-appearance: none !important;
        background-color: #777 !important;
        border: 1px solid !important;
        border-color: #777 !important;
        color: white !important;
    }

    #cloudWidget {
        background: #333 !important;
        color: #ddd !important;
        color: #ddd !important;
    }

    #cloudWidget>span {
        background: #333 !important;
        color: #ddd !important;
        /*  fill: white !important;*/
    }

    #cloudinfo {
        background: #333 !important;
        color: #ddd !important;
    }

    :root {

        --checkmark: white !important;
        --checkbox-checked-ink: var(--checkmark) !important;

    }


    button#cloudPush,
    button#cloudPull,
    button#cloudPullAndMerge {
        background: #9C04D1 !important;
    }

    #actions {
        background: #333 !important;
    }


}
