/* UBLOCK ORIGIN */

@-moz-document url-prefix("moz-extension://43f9903c-8fa1-45df-a22d-07d223df68fb/") {
body,
#sticky,
#main {
	/* font-family: Fira Sans !important; */
	background-color: #111 !important;
	color: #ddd !important;
}

a {
	color: #888 !important;
}

.fa-icon {
	fill: #999 !important;
}

#switch {
	background-color: #111 !important;
}

.fa-icon:hover {
	fill: lime !important;
}	

#switch .fa-icon, 
#switch .fa {
	fill: crimson !important;
}

body.off #switch .fa-icon {
	fill: limegreen !important;
}	

#refresh {
	background-color: #ddd !important;
    }

html#ublock0-epicker,
#ublock0-epicker body {
	background: transparent !important;
	color: white !important;
}

#ublock0-epicker aside {
	background-color: #000 !important;
}

.tool {
	color: #ddd !important;
	background-color: #111 !important;
	padding: 0 0.6em !important;
	padding-bottom: 30px !important;
}

.tool.enabled:hover {
	fill: lime !important;
}

.tool.:hover {
	fill: lime !important;
}

#tooltip {
	background-color: #000000 !important;
	border: 1px solid #000000 !important;
	color: #bbb !important;
}

#firewall>div {
	background-color: #111 !important;
}

#firewall>div:hover {
	background-color: #111 !important;
}

#firewall>div>span {
	color: #111 !important;
	border-bottom: 1px solid #111 !important;
	/* font-size: 10pt !important; */
	/* background-color: #777 !important; */ /* CAN'T see firewall selections */
}

#firewall>div>span:first-of-type~span {
	border-left: 1px solid #111 !important;
}

#extraTools {
	background-color: #111 !important;
}



/* These are for the dashboard window */

/*checkboxes */
:root {
	--checkmark: white !important;
	--checkbox-checked-ink: green !important;
}
	
.checkbox {
	border: 1px solid #ddd !important;
}

.checkbox:hover {
	background-color: #9C04D1 !important;
}

.input.checkbox input[checked] > .checkbox-check {
	background-color: green !important;
}

/* filter counters */
span.counts {
	color: #FACD2F !important;
}

/* background of active line */
.CodeMirror-activeline-background {
    background: #cdfabc !important;
}

/* top widget line */
#dashboard-nav {
	background-color: #111 !important;
	border-bottom: 1px solid #777 !important;
}

#dashboard-nav-widgets {
	background-color: #111 !important;
	border-bottom: 1px solid #777 !important;
}

.tabButton {
	background-color: #111 !important;
	border: 1px solid #666 !important;
	border-bottom: 1px solid #777 !important;
	color: #ddd !important;
}

.tabButton.selected {
	background-color: #9C04D1 !important;
	color: white !important;
	border-bottom: 1px solid #222 !important;
}

/*buttons line */
#diff li {
	background-color: #555 !important;
}

#diff li:nth-child(even) {
	background-color: #111 !important;
}

#diff textarea {
	background-color: #111 !important;
	color: #fff !important;
}

#actions {
	background: #111 !important;
}

/* buttons on hover */
button:hover {
	color: #fff !important;
	background-color: #9C04D1 !important;
}

button.preferred:not(.disabled):not([disabled]) {
    background-color: limegreen !important;
    }

/* vaious other page settings */
.supportEntry div p span {
	color: lime !important;
}

code {
	background-color: #555 !important;
}

.fieldset-header,
.synopsis,
h3 {
	color: #fff !important;
}

}
