/*! Alters the webextension undo_closed_tabs_button */
@-moz-document url-prefix("moz-extension://6a2998b4-20e6-4da9-8d66-8cb2fae5a467/") {
  body {
    color: #999 !important;
    background: #000 !important
  }
  html {
    background-color: #000 !important
  }
  a {
    color: #000 !important
  }
  h3 {
    color: #000 !important
  }


}