/* webextension undo_closed_tabs_button */
@-moz-document url-prefix("moz-extension://6a2998b4-20e6-4da9-8d66-8cb2fae5a467/") {
html, body {
  color: #ddd !important;
  background: #111 !important
}

.button {
  border: 1px solid #555 !important;
  margin-right: 3px  !important;
  border-radius: 6px !important;  
}

.button:hover {
  color: #fff !important;
  background: #777 !important;  
  border-radius: 6px !important;
}

}
