/* about:about page four columns */
:root {
  --in-content-container-min-width: 13em;
  --in-content-container-max-width: 52em;
}

@-moz-document url("about:about") {

	ul.columns {
		column-count: 4 !important;
		column-gap: 5em;
	}

}

/*about:about page title centered and dumb text removed */
.container>h1 {
  text-align: center !important;
  margin-bottom: 50px !important;
  color: #9C04D1 !important;
  }
.container>p>em {
  display: none !important;
  }
  