/*addon buttons */
  .card.addon addon-options panel-list panel-item:hover:not([selected]) {
  background-color: #6B0989 !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}

.accessory-button,
  .card.addon addon-options panel-list panel-item {
  border: 1px solid #999 !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}


/*preferences button */
.actionButtons button:hover:not([selected]) {
  background-color: #6B0989 !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}

.actionButtons button{
  border: 1px solid #999 !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}


/* preferences dialog buttons */
.accessory-button:hover:not([selected]) {
  background-color: #6B0989 !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}

.accessory-button{
  border: 1px solid #999 !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
/*    border-radius: 100% !important; /* round buttons */
/*	   border-radius: 8px !important; /* rounded corners */
}
