@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"), url("about:addons") {
  button:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
}

/* Hide the 'Add-ons Support' button */
#help-button { display: none !important; border: none !important;}

/* addon card color */
.card.addon addon-options panel-list,
.card.addon {
  background-color: #2A2A2E !important; /* makes card match page color */
  border-radius: 2px 20px / 24px !important; /* two rounds two square */
}

.card.addon addon-options panel-list panel-item:hover:not([selected]),
.addon plugin-options panel-list panel-item:hover:not([selected]),
.card.addon addon-options panel-list panel-item,
.addon plugin-options panel-list panel-item {
  margin-left: 2px !important;
  margin-bottom: 2px !important;
}

/* hover on addon opened */
#details-deck-button-details.tab-button.ghost-button:hover:not([selected]),
#details-deck-button-preferences.tab-button.ghost-button:hover:not([selected]),
#details-deck-button-permissions.tab-button.ghost-button:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
}

/* color of selected addon choice */
#details-deck-button-details.tab-button.ghost-button[selected],
#details-deck-button-preferences.tab-button.ghost-button[selected],
#details-deck-button-permissions.tab-button.ghost-button[selected] {
  background-color: #bbb !important;
  color: #9C04D1 !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
}

/* color of selected addon choice when hovered */
#details-deck-button-details.tab-button.ghost-button:hover[selected],
#details-deck-button-preferences.tab-button.ghost-button:hover[selected],
#details-deck-button-permissions.tab-button.ghost-button:hover[selected] {
  background-color: #9C04D1 !important; 
  color: white !important;
  border-radius: 1px 10px / 12px !important; /* two rounds two square */
}


/* Addon Card Hover/Border Outline */
:root { --card-outline-color: #9C04D1 !important; 
  --card-shadow-hover: var(--card-shadow), 0 0 0 3px var(--card-outline-color) !important; }
}

/* get rid of border around the panel buttons */
.card.addon addon-options panel-list:hover:not([selected]),
.card.addon addon-options panel-list {
  border-color: green !important;
  border-top: none !important; 
  border-right: none !important; 
}

/* addon card border color enabled */
addon-list > section > addon-card > .card { 
  border-color: green !important; 
  border-width: 2px !important; 
}

/* addon card border color disabled */
addon-list > section + section > addon-card > .card { 
  border-color: grey !important; 
  border-width: 2px !important; 
}

/*addon card button disabled */
input[type="checkbox"].toggle-button {
  background-color: orange !important;
  border-color: orange !important;
}

/*addon card button enabled */
input[type="checkbox"].toggle-button:checked {
background-color: green !important;
  border-color: green !important;}
}





/* Hide the 'Add-ons Support' button */
#help-button.sidebar-footer-link,
#help-button.sidebar-footer-link img.sidebar-footer-icon,
#help-button { display: none !important; border: none !important;}
  
 /*spacing */
 #categories button.category,
#preferencesButton  {  margin-bottom: 8px !important;} 
  
.addon-name-container button.more-options-button:hover:not([selected]),
.card.addon addon-options panel-list panel-item:hover:not([selected]),
.addon plugin-options panel-list panel-item:hover:not([selected]),
.page-options-menu button:hover:not([selected]),
 .theme-enable-button:hover:not([selected]),
#categories button.category:hover:not([selected]),
#preferencesButton:hover:not([selected]),
#help-button:hover:not([selected]),
#help-button.sidebar-footer-link.help-icon :hover:not([selected]),
#updates-message:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
}

#categories button.category[selected],
#preferencesButton[selected],
#help-button[selected],
#help-button.sidebar-footer-link.help-icon[selected],
#updates-message[selected] {
  background-color: #bbb !important;
  color: #9C04D1 !important;
}

#categories button.category:hover[selected],
#preferencesButton:hover[selected],
#help-button:hover[selected],
#help-button.sidebar-footer-link.help-icon:hover[selected],
#updates-message:hover[selected] {
  background-color: #9C04D1 !important; 
  color: white !important;
}

.addon-name-container button.more-options-button,
.addon plugin-options panel-list panel-item,
.page-options-menu button,
.theme-enable-button,
.card.addon addon-options panel-list panel-item,
.main-search search-addons search-textbox,
#categories button.category,
#preferencesButton,
#help-button,
#help-button.sidebar-footer-link.help-icon,
#preferencesButton.text-link hbox,
#help-button.text-link hbox,
#updates-message,
#blockCookiesMenu,
#trackingProtectionMenu,
.content-blocking-warning {
  border: 1px solid #999 !important;
  margin-right: 3px !important;
  margin-top: 2px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

  


  
/* PREFERENCES BUTTONS */
#removeSelected,
#removeAll,
.dialog-button-box button {
  color: #fff !important;
  background-color: #7d7d80 !important; 
  border: 1px solid #999 !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
margin-bottom: 8px !important;
}

#removeSelected:hover:not([selected]),
#removeAll:hover:not([selected]),
.dialog-button-box button:hover:not([selected]) {
  color: #fff !important;
  background-color: #9C04D1 !important; /* HOVER COLOR */
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

.actionButtons button:hover:not([selected]) {
  color: #fff !important;
  background-color: #9C04D1 !important; /* HOVER COLOR */
}

.actionButtons button{
  color: #fff !important;
  border: 1px solid #999 !important;
  margin-right: 3px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

/* preferences dialog buttons */
.dialogTitleBar button.dialogClose.close-icon:hover:not([selected]),
.dialog-button:hover:not([selected]),
.accessory-button:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
}

.dialogTitleBar button.dialogClose.close-icon,
.dialog-button,
.accessory-button{
  border: 1px solid #999 !important;
  margin-right: 3px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

.disco-cta-button.primary:hover:not([selected]),
/* various other preferences buttons */
#category-general:hover:not([selected]),
#category-home:hover:not([selected]),
#category-search:hover:not([selected]),
#category-privacy:hover:not([selected]),
#category-sync:hover:not([selected]),
#addonsButton:hover:not([selected]),
#containersView > richlistitem > hbox > button:hover:not([selected]),
#restoreDefaultHomePageBtn:hover:not([selected]),
#homeMode:hover:not([selected]),
#homePageUrl:hover:not([selected]),
#useCurrentBtn:hover:not([selected]),
#useBookmarkBtn:hover:not([selected]),
#newTabMode:hover:not([selected]),
#downloadAndInstallButton:hover:not([selected]),
#restoreDefaultSearchEngines:hover:not([selected]),
#removeEngineButton:hover:not([selected]),
#addEngineButton:hover:not([selected]),
#defaultEngine:hover:not([selected]),
#SiteDataSettingsDialog hbox button:hover:not([selected]),
#SiteDataSettingsDialog vbox hbox button:hover:not([selected]),
#homeContentsGroup > vbox > vbox > hbox > hbox:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
}

#category-general[selected],
#category-home[selected],
#category-search[selected],
#category-privacy[selected],
#category-sync[selected] {
  background-color: #bbb !important;
  color: #9C04D1 !important;
}

#category-general:hover[selected],
#category-home:hover[selected],
#category-search:hover[selected],
#category-privacy:hover[selected],
#category-sync:hover[selected] {
  background-color: #9C04D1 !important; 
  color: #fff !important;
}

/* various other buttons */
#category-general,
#category-home,
#category-search,
#category-privacy,
#category-sync{
  border: 1px solid #999 !important;
  margin-bottom: 10px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

#helpButton{
  display: none !important;
}

.disco-cta-button.primary,
#defaultBrowserLanguage,
#defaultZoom,
#defaultFontSize,
#defaultFont,
#downloadFolder,
#updateSettingsContainer,
#checkForUpdatesButton3,
#browserContainersExtensionContent,
#contentBlockingOptionStandard,
#contentBlockingOptionStrict,
#contentBlockingOptionCustom,
#addonsButton,
#containersView > richlistitem > hbox > button,
#searchInput,
#restoreDefaultHomePageBtn,
#homeMode,
#homePageUrl,
#useCurrentBtn,
#useBookmarkBtn,
#newTabMode,
#downloadAndInstallButton,
#restoreDefaultSearchEngines,
#removeEngineButton,
#addEngineButton,
#defaultEngine,
#SiteDataSettingsDialog hbox button,
#SiteDataSettingsDialog vbox hbox button,
#homeContentsGroup > vbox > vbox > hbox > hbox {
  border: 1px solid #999 !important;
  margin-right: 3px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

/* about:about page buttons */
#abouts>li>a:hover:not([selected]) {
  background-color: #9C04D1 !important; /* HOVER COLOR */
  color: #fff !important;
  text-decoration: none !important;
}

#abouts>li>a {
  color: #ddd !important;
  border: 1px solid #999 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-right: 3px !important;
  margin-top: 2px !important;
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

/* about:config and hacked version */
#textbox,
#about-config-search{
  border-radius: 10px 100px / 120px !important; /* two rounds two square */
}

}
