/* Recolors addons manager, preferences page and new about:config */

@namespace html url("http://www.w3.org/1999/xhtml");

@-moz-document url-prefix("about:addons"),
  url-prefix("about:processes"),
  url-prefix("about:performance"),
  url-prefix("about:preferences"),
  url-prefix("about:config"),
  url-prefix("about:about"),
  url-prefix("about:logins"),
  url-prefix("chrome://browser/#dialogBox/"),
  url-prefix("chrome://browser/content/"),
  url-prefix("chrome://mozapps/content/"),
  url-prefix("chrome://pippki/content/"),
  url-prefix("chrome://mozapps/content/extensions/aboutaddons.html"),
  url-prefix("chrome://userchromejs/content/aboutconfig/config.xhtml") {
    :root,
    html|html{
      --in-content-page-color: rgb(210,210,210) !important;
      --in-content-text-color: rgb(210,210,210) !important;
      --in-content-page-background: rgb(42,42,46) !important;
      --in-content-box-background: rgba(255,255,255,0.1) !important;
      --in-content-deemphasized-text: var(--in-content-text-color) !important;
      scrollbar-color: var(--in-content-text-color) var(--in-content-page-background) !important;
      color:var(--in-content-text-color) !important;
    }
  
  menulist > menupopup{ background-color: var(--in-content-page-background) !important; }
  
  #containersView > richlistitem,
  .updateSettingCrossUserWarningContainer,
  .info-panel,
  .extension-controlled,
  .message-bar,
  html|message-bar,
  .alert,
  treecol{
    background-color: var(--in-content-box-background) !important;
    color: var(--in-content-text-color) !important;
  }

  .menulist-dropmarker,
  .checkbox-icon{
    -moz-context-properties: fill;
    fill : CurrentColor !important;
  }
  /* make panel background blurry if the background is translucent. Requires pref layout.css.backdrop-filter.enabled  */
  /* html|panel-list{ backdrop-filter: blur(28px) } */
  html|panel-list{ background-color: #333 !important; }
  html|panel-list{ background: #333 !important; }
}

/* Get addons page */
/* New addons manager doesn't use this anymore */
@-moz-document url-prefix("https://discovery.addons.mozilla.org/"){
  html|*{ color: inherit !important; }
  html|html,html|body{
    background-color: rgb(46,54,69) !important;
    color: rgb(210,210,210) !important;
  }
  html|div.addon,html|div.Notice{ background-color: rgba(255,255,255,0.1) !important; }
}


/* EXTRAS on PREFERENCES PAGE */
.disco-cta-button.primary,
.dialogTitleBar {
  background-color: var(--in-content-box-background) !important;
  color: var(--in-content-text-color) !important;
}

#sitesList > richlistitem[selected],
#permissionsBox > richlistitem[selected],
#selectedLocales richlistitem[selected],
 #activeLanguages richlistitem[selected] {
 background: #aaa !important;
}


#policies-container {
background: #555 !important;
}

.policies-label {
color: #fff !important;
}





/* tracking protection settings */
#blockCookiesMenu,
#trackingProtectionMenu
{ background: #555 !important; }
#blockCookiesMenu:hover:not([selected]),
#blockCookiesMenu[selected],
#trackingProtectionMenu[selected],
#trackingProtectionMenu:hover:not([selected])
{ background: #9C04D1 !important; }


/* cookies and site data dialog boxes */
#sitesList richlistitem[selected] {
  color: white !important;
  font-weight: bold !important;
  background: #777 !important; 
}

/* dialog boxes for cookies*/
vbox.dialogOverlay,
.box-inherit.dialog-content-box,
.dialog-button-box {
  color: #ddd !important;
  background: #333 !important;
}

/* login exceptions */
#url,
#searchBox,
/* various boxes */
#historyItems,
#activeLanguages,
#selectedLocales,
#networkProxyType,
#engineName,
#engineUrl,
#engineAlias,
#permissionsBox,
#permissionsBox richlistitem hbox menulist.website-status,
#siteCol,
#sanitizeEverythingWarningBox,
#statusCol,
#ClearSiteDataDialog dialog vbox.contentPane.doScroll vbox.options-container,
.options-container,
#hostCol,
#cookiesCol,
#usageCol,
#lastAccessedCol,
#sitesList {
  color: #ddd !important;
  background: #333 !important; 
}

/* certificates and devices text color */
#ca-tree > treechildren,
#device_list,
#info_list { color: #333 !important; 
}


/*about: logins page */
.edit-button.ghost-button,
.delete-button.ghost-button {
  color: #ddd !important;
}

.login-item-title {
  color: yellow !important;
  font-style: italic !important; 
}

.origin-input {
  color: white !important;
  font-weight: bold !important;
}

login-list,
input.filter,
#login-sort,
div.meta,
.login-list-item,
.empty-search-message,
.create-login-button,
.create-login-button-container,
div.tooltip-container div.arrow-box,
.tooltip-message,
.detail-row label.detail-cell input,
.reveal-password-wrapper input {
background: #333 !important;
color: #ddd !important;
}

.login-list-item div.labels span.username {color: #bbb !important; }

.reveal-password-checkbox{ filter:brightness(300%) !important; }

.reveal-password-wrapper input { font-style: normal !important; }
