/* Remove New Tab Flash */

@-moz-document url-prefix(about:blank), url-prefix(about:newtab), url(moz-extension://18833d05-ae1d-4d36-a8e1-a0b85a34bab3redirect.html), url(moz-extension://18833d05-ae1d-4d36-a8e1-a0b85a34bab3/html/newtab.html)
{
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay
    {
        background: #68798a !important;
    } 
}


/*
@-moz-document url("about:home"), url("about:newtab") {
body { 
background-color: #68798a !important;
}
}

/*If that doesn't help maybe try this: */
/*
@-moz-document url("about:home"), url("about:newtab") {
.outer-wrapper { 
background-color: #68798a !important;
}
}
