/* Remove New Tab Flash */

@-moz-document url-prefix(about:blank), url-prefix(about:newtab), url(moz-extension://308a757d-2c16-4036-b590-7bb9bac1f561redirect.html), url(moz-extension://308a757d-2c16-4036-b590-7bb9bac1f561/html/newtab.html)
{
    html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay
    {
        background: #68798a !important;
    } 
}


/*
@-moz-document url("about:home"), url("about:newtab") {
body { 
background-color: #68798a !important;
}
}

/*If that doesn't help maybe try this: */
/*
@-moz-document url("about:home"), url("about:newtab") {
.outer-wrapper { 
background-color: #68798a !important;
}
}
