/* NOT SURE OF THE EFFECT OVERALL This changes all treechildren elements highlights (list-like elements) like selected background in menu??? */

treechildren::-moz-tree-row(selected){
	background: #6F6F6F !important; 
	color: ?FFF !important
}

/* treechildren::-moz-tree-row {
	background: #ddd !important
}
