/* Makes context menus dark. Also affects some portions of menu popups .......................................... By MrOtherGuy*/
/* Uses dark theme colors but does not respect dark theme variables (don't work on sidebar context menu) */

:root{
  --uc-menu-bkgnd: rgb(34,34,34);
  --uc-menu-color: rgb(180,180,180);
  --uc-menu-dimmed: rgb(189,183,107);
  --uc-menu-disabled: rgb(226,166,4);
}

panel richlistbox,
panel tree,
/*panel button,*/
panel menulist,
panel textbox,
panel input,
menupopup,
menu,
menuitem{ -moz-appearance: none !important; }

menulist,
menuitem,
menu{ min-height: 1.8em }

panel menulist{ border: 1px solid transparent }

panel richlistbox,
panel tree,
/*panel button,*/
panel menulist,
panel textbox,
panel input,
panel #searchbar,
menupopup:not(#BMB_bookmarksPopup),
#main-menubar > menu > menupopup,
#context-navigation{
  color: var(--uc-menu-color) !important;
  background-color: var(--uc-menu-bkgnd) !important;
  border: 2px solid #ddd !important;
  padding: 2px 0px 2px 0px  !important;
}

panel textbox input{ padding: 2px !important; }

panel input{ border-width: 1px; border-style: solid; background-color: rgba(0,0,0,0.1) !important; }
panel #searchbar{ background-color: rgba(0,0,0,0.1) !important; padding: 0 !important; }
panel #searchbar input{ background-color: transparent !important; }

panel menulist:hover,
panel menulist[open]{ border-color: #eee !important; }


panel treechildren::-moz-tree-row(selected),
/*panel button:hover,*/
menu:hover,
menu[_moz-menuactive],
menu[open],
menuitem:hover,
/*menuitem[_moz-menuactive]{ background-color: var(--uc-menu-dimmed) !important; color: inherit !important; } */
menuitem[_moz-menuactive]{ background-color: #666666 !important; color: white !important; }

menu[disabled="true"],
menuitem[disabled="true"]{ color: var(--uc-menu-disabled) !important; }
/*
menu:not(.subviewbutton) > .menu-right{ filter: invert(1) }