.panel-arrowcontent {
	background-color:#111 !important;
	color: #fff !important;
}

#editBMPanel_folderMenuList > menupopup {
  background-color: #aaa !important;
}

#editBMPanel_namePicker,
#editBMPanel_tagsField ,
#editBMPanel_folderMenuList{
  color: #000 !important; 
  background-color: #aaa !important;
}

#editBMPanel_folderTree.placesTree treechildren {
	background-color: #aaa !important;
}

#editBMPanel_folderTree > treechildren{ 
  color: black !important;
}

#editBMPanel_tagsSelectorRow richlistbox {
	background-color: #aaa !important;
}
