/* Menu Popups */
.PanelUI-subView,
.panel-subview-body {
  background-color: #111 !important;
  color: #ddd !important;
}
.PanelUI-subView :hover {
  color: #ddd !important;
}

/*.panel-subview-body :hover {
 background: #666666 !important;
 color: #D1D1D1 !important;
}/* causes weird effect on library bookmarks */

#overflowMenu-customize-button {
  border: 1px solid #666 !important;
  background-color: #555 !important;
  color: #ddd !important;
}
.panel-arrowcontent {
  border: 1px solid #666 !important;
}
.panel-arrow {
  display: none !important;
  stroke: #777 !important;
}
/*toolbarbutton :hover {
  color: white !important;
}*/
toolbarseparator {
  border-top: 1px solid #555 !important;
}
.panel-subview-footer {
  border-top: 1px solid #888 !important;
}
.panel-header {
  border-bottom: 1px solid #666 !important;
}
#appMenu-zoom-controls #appMenu-zoomReset-button {
  border: 1px solid #555 !important;
  background: #444 !important;
}
