/*NEW TAB */

#tabs-newtab-button {
  color: white !important;
  opacity: 0.7 !important;
}

#tabs-newtab-button:hover:not([selected]) {
     opacity: 0.9 !important;
}


/* SELECTED TAB */

.tabbrowser-tab[selected] .tab-label {
  color: white;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 1px black !important;
  font-weight: bold !important;
  font-style: normal !important;
  /*text-decoration: underline;*/
}


/* DEFAULT TAB */

.tabbrowser-tab .tab-label {
  color: #91f2ff;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 1x black !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/  
}


/* HOVERED TAB */

.tabbrowser-tab:hover:not([selected]) .tab-label {
  color: yellow;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 1px black !important;
  font-weight: bold !important;
  font-style: normal !important;
  /*text-decoration: underline;*/  
}

/* UNLOADED/PENDING TAB */

.tabbrowser-tab[pending] .tab-label {
  color: #9c04d1;
  font-size: 9pt !important;
  text-shadow:	0px 1px 0px white,
				0px 1px 1px white !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/
}


/* UNREAD TAB */

.tabbrowser-tab[unread] .tab-label {
  color: red;
  font-size: 9pt !important;
  text-shadow:	0px 1px 0px white,
				0px 1px 1px white !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/  
}
