/*NEW TAB */

#tabs-newtab-button {
     opacity: 0.5 !important;
}

#tabs-newtab-button:hover:not([selected]) {
     opacity: 0.9 !important;
}


/* SELECTED TAB */

.tabbrowser-tab[selected] .tab-label {
  color: white !important;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 4px black !important;
  font-weight: bold !important;
  font-style: normal !important;  
  /*text-decoration: underline;*/
}


/* DEFAULT TAB */

.tabbrowser-tab .tab-label {
  color: #91f2ff !important;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 4px black !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/  
}


/* HOVERED TAB */

.tabbrowser-tab:hover:not([selected]) .tab-label {
  color: yellow !important;
  font-size: 10pt !important;
  text-shadow:	0px 1px 0px black,
				0px 1px 4px black !important;
  font-weight: bold !important;
  font-style: normal !important;
  /*text-decoration: underline;*/  
}

/* UNLOADED/PENDING TAB */

.tabbrowser-tab[pending] .tab-label {
  color: #9c04d1 !important;
  font-size: 9pt !important;
  text-shadow:	0px 1px 0px white,
				0px 1px 4px white !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/
}


/* UNREAD TAB */

.tabbrowser-tab[unread] .tab-label {
  color: red !important;
  font-size: 9pt !important;
  text-shadow:	0px 1px 0px white,
				0px 1px 4px white !important;
  font-weight: bold !important;
  font-style: italic !important;
  /*text-decoration: underline;*/  
}


/* BUSY/LOADING TAB */

/*
.tabbrowser-tab[busy] .tab-label {
  color: green !important;
  font-size: 9pt !important;
  text-shadow:	0px 1px 0px #FFCCFF, 
				0px 1px 4px #FFCCFF !important;
  font-weight: initial !important;
  font-size: 9pt !important; 
  font-style: italic !important;
  /*text-decoration: underline;*/  
} */

