/* tab height */
#TabsToolbar, .tabbrowser-tab {
	max-height: 31px !important;
	padding: 1px !important;
}

/* new tab plus sign color and opacity */
.tabs-newtab-button {
	opacity:.5!important;
   /*color: grey !important;*/
 }

 /* Make tab line transparent */
    .tab-line {background: transparent !important;
}
  /* Change the tab line color */  
 #tabbrowser-tabs .tab-line {
    --tab-line-color: transparent !important;
}
 
/* default tab opacity and color */
.tab-background {
    background-attachment: none!important;
    background-color: #444!important;
    background-image: none!important;
    background-position: none!important;
    background-repeat: none!important;
    background-size: none!important;
	opacity:.3!important;
}
 /* selected tab opacity and color */
.tab-background[selected="true"] {
    background-attachment: none!important;
    background-color: #777!important;
    background-image: none!important;
    background-position: none!important;
    background-repeat: none!important;
    background-size: none!important;
	opacity:.5!important;
}
/* hovered tab opacity and color */
/*.tabbrowser-tab:not([selected]):hover .tab-content {
  background-attachment: none!important;
    background-color: #444!important;
    background-image: none!important;
    background-position: none!important;
    background-repeat: none!important;
    background-size: none!important;
	opacity:.8!important;
  }*/

/* hide tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
  opacity: 0 !important;
  color: white !important;
}

/* usercontext colors */
.tab-bottom-line{
  display:none!important;
}
.tabbrowser-tab[usercontextid] .tab-line{
  background:var(--identity-tab-color)!important;
  transform:scaleX(.8)!important;
  opacity:1!important;
  height:4px!important;
  border-radius:0 0 3px 3px!important;
}

.tabbrowser-tab[usercontextid]:not([visuallyselected]):hover .tab-line{
  border-radius:0!important;
  height:4px!important;
  transform:scaleX(.9)!important;
  opacity:1!important;
}
.tabbrowser-tab[usercontextid][visuallyselected] .tab-line{
  border-radius:0!important;
  height:4px!important;
  transform:scaleX(.9)!important;
  opacity:1!important;
}

.tabbrowser-tab[usercontextid][pinned] .tab-line{
  transform:scaleX(.55)!important;
}

.tabbrowser-tab[usercontextid][pinned]:not([visuallyselected]):hover .tab-line{
  border-radius:0!important;
  height:4px!important;
  transform:scaleX(.6)!important;
  opacity:1!important;
}
.tabbrowser-tab[usercontextid][pinned][visuallyselected] .tab-line{
  border-radius:0!important;
  height:4px!important;
  transform:scaleX(.6)!important;
  opacity:1!important;
}
.tabbrowser-tab{
  --tab-loading-fill:Highlight!important;
}
.tabbrowser-tab[usercontextid]{
  --tab-loading-fill:var(--identity-tab-color)!important;
}


/* Hide container label and name on navbar */
 #userContext-indicator {
  display: none !important;
}

#userContext-label {
  display: none !important;
}


/* change up usercontext label 
#userContext-icons{
  background:var(--identity-tab-color)!important;
  margin:auto 3px!important;
  border-radius:2px!important;
  padding:0 2px 0 5px!important;
}
#userContext-label{
  color:#fff!important;
}
#userContext-indicator{
  fill:#fff!important;
  margin-right:2px!important;
}
#userContext-indicator[data-identity-icon="circle"]{
  display:none!important;
}*/

