.tabbrowser-tab, .tabbrowser-tab[pinned] {
  position: relative;
}

.tabbrowser-tab.tabbrowser-tab[multiselected="true"] .tab-content::before {
  /*content: "?";*/
  content: "+";
  position: absolute;
  margin: -17px 0 0 -9px !important;
  padding: 1px 3px !important;
  font-size: 8px !important;
  font-weight: bold !important;
  color: #fff !important;  
  background-color: #23a1ff !important;
  border-radius: 2px 2px 6px 2px !important;
  /*opacity: 1.0;*/
}