/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/inline_tab_audio_icons.css */

/* Shows tab audio icons next to the tab icon, and by default removes the tab secondary line */

/*.tabbrowser-tab:is([soundplaying],[activemedia-blocked]) .tab-label,*/
.tabbrowser-tab:not([pinned]) .tab-icon-stack:is([soundplaying],[activemedia-blocked]){
  grid-template-areas: "a s";
  color: lime !important;
}

/*.tabbrowser-tab:is([muted],[activemedia-blocked]) .tab-label,*/
.tabbrowser-tab:not([pinned]) .tab-icon-stack:is([muted],[activemedia-blocked]){
  grid-template-areas: "a s";
  color: orange !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-overlay:is([muted],[soundplaying],[activemedia-blocked]){ grid-area: s; }
.tab-icon-overlay,
.tab-icon-image,
.tab-throbber{ opacity: 1 !important; }

.tab-icon-overlay:not([pinned]){
  padding: 0px !important;
  margin-inline: -3px 1px !important;
}
