/* tab close - always visible*/
#tabbrowser-tabs  .tab-close-button {
  visibility: visible !important;
  color: lightgrey !important; 
  filter:drop-shadow(1px 1px 2px lightgrey) !important;
}

/*selected */
#tabbrowser-tabs  .tab-close-button:not([pinned])[selected] {
  visibility: visible !important;
  color: yellow !important;
  filter:drop-shadow(1px 1px 2px lime) !important;
}

/* hover default*/
#tabbrowser-tabs  .tab-close-button:hover:not([pinned]) {
  visibility: visible !important;
  color: red !important;
  background-color: transparent !important;
  filter:drop-shadow(1px 1px 2px orange) !important;
}

/* hover selected*/
#tabbrowser-tabs  .tab-close-button:hover:not([pinned])[selected] {
  visibility: visible !important;
  color: red !important;
  background-color: transparent !important;
  filter:drop-shadow(1px 1px 2px orange) !important;
}
